.neu-button{
    text-transform: uppercase;
    margin: 20px 10px !important;
    color: #6d7ba5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    font-weight: 500;
    border-radius: 20px;
    box-shadow: inset 0 0 15px rgba(80, 80, 80,0), inset 0 0 20px rgba(255, 255, 255,0), 7px 7px 15px rgba(80, 84, 80,.15),-7px -7px 20px rgba(255, 255, 255,.7),inset 0px 0px 4px rgba(255, 255, 255,.2);
    transition: box-shadow 109ms ease-in-out;
    width:fit-content;
    min-height: 38px;
    padding:10px 20px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    outline: none;
    user-select: none;
    border: none;
    cursor: pointer;
}

.neu-button:active{
    color: #393f63;
    box-shadow: inset 7px 7px 15px rgba(80, 80, 80,.15), inset -7px -7px 20px rgba(255, 255, 255,.7),0px 0px 4px rgba(255, 255, 255,.2) !important;
}

.neu-button svg {
    height: 20px;
    width: 20px;
    margin-right: 7px;
}

