.neu-select {
    font-size: 14px;
    font-weight: 500;
    position: relative;
    color: #6d7ba5;
    text-align: left;
    margin: 20px 10px !important;
    font-weight: 500;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    outline: none;
    user-select: none;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: inset 0 0 15px rgba(80, 80, 80, 0), inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(80, 84, 80, .15), -7px -7px 20px rgba(255, 255, 255, .7), inset 0px 0px 4px rgba(255, 255, 255, .2);
}

.neu-select svg {
    pointer-events: none;
    position: absolute;
    fill: #6d7ba5;
    right: 15px;
    top: 15px;
}

.neu-select-value {
    background-color: inherit;
    font-weight: 500;
    padding: 8px 20px;
    opacity: .8;
}

.neu-select-value p {
    margin: 0px;
    min-height: 20px;
}

.neu-select-options {
    background: #e8e9f0;
    border-radius: 20px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    -webkit-transition: opacity .2s, padding .2s, max-height .2s;
    transition: opacity .2s, padding .2s, max-height .2s;
    overflow: scroll;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.neu-select-options .neu-select-option {
    padding: 13px;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.neu-select-options .neu-select-option:hover, .neu-select-options .neu-select-option-active {
    background: rgba(0, 0, 0, 0.1);
}

.neu-select-active .neu-select-trigger {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 9;
}

.neu-select-active .neu-select-options {
    max-height: 180px;
    opacity: 1;
}

.neu-select-inactive .neu-select-value {
    -webkit-animation: fadeIn .3s;
    animation: fadeIn .3s;
}

.neu-select-inactive .neu-select-options {
    background: #f4f5f7;
    max-height: 0px;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}