.neu-roundprogressbar{
    margin: 20px 10px !important;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width:fit-content;
    border-radius: 50%;
    box-shadow: inset 0 0 15px rgba(80, 80, 80,0), inset 0 0 20px rgba(255, 255, 255,0), 7px 7px 15px rgba(80, 84, 80,.15),-7px -7px 20px rgba(255, 255, 255,1),inset 0px 0px 4px rgba(255, 255, 255,.2);
}
.neu-roundprogressbar > div {
    overflow: hidden;
    border-radius: 50%;
    box-shadow: inset 0 0 25px rgba(80, 80, 80,0.2), inset 0 0 20px rgba(255, 255, 255,1), 7px 7px 15px rgba(80, 80, 80,.15),-3px -3px 10px rgba(0, 0, 0,0.3),inset 0px 0px 4px rgba(255, 255, 255,.2);
    position: absolute;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.neu-roundprogressbar circle{
    transition: stroke-dashoffset 1s;
}
